name: CI Genérico com Cache Local (Backend/Frontend)

on:
  workflow_call:
    inputs:
      project_type:
        description: "Tipo de projeto: 'backend' ou 'frontend'"
        required: true
        type: string
      runner:
        description: "Runner onde o job vai rodar"
        required: false
        type: string
        default: '["self-hosted"]'
      service_name:
        description: "Nome do serviço principal a ser construído"
        required: true
        type: string
    secrets:
      ENV_FILE_CONTENT:
        description: 'Conteúdo completo do .env com todas as variáveis.'
        required: false

jobs:
  build-test:
    name: Build/Test com Cache
    runs-on: ${{ fromJSON(inputs.runner) }}
    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      # --- ETAPAS NO RUNNER (PARA LINT/TEST) ---
      - name: Configuração Node.js (frontend)
        if: ${{ inputs.project_type == 'frontend' }}
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Instalação do pnpm (frontend)
        if: ${{ inputs.project_type == 'frontend' }}
        uses: pnpm/action-setup@v4
        with:
          version: 10
          run_install: false

      - name: Obter o diretório de cache do pnpm
        if: ${{ inputs.project_type == 'frontend' }}
        id: pnpm-cache
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_OUTPUT

      - name: Configurar cache de dependências do Runner (para lint/test)
        if: ${{ inputs.project_type == 'frontend' }}
        uses: actions/cache@v4
        with:
          path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-v1-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-v1-

      - name: Instalar dependências no Runner (para lint/test)
        if: ${{ inputs.project_type == 'frontend' }}
        run: pnpm install --frozen-lockfile

      - name: Criar .env para build (Condicional)
        run: |
          if [ "${{ inputs.project_type }}" == "frontend" ]; then
            echo "Criando .env específico para o build do Frontend..."
            echo "${{ secrets.ENV_FILE_CONTENT }}" | grep "NEXT_PUBLIC_API_URL=" > .env
          else
            echo "Criando .env genérico para o build do Backend..."
            echo "DUMMY_VAR=DUMMY_VALUE" > .env
          fi

      - name: Build Docker (com Cache de Pnpm via BuildKit)
        env:
          DOCKER_BUILDKIT: 1
        run: docker compose build --pull ${{ inputs.service_name }}

      - name: Limpar imagens Docker não utilizadas
        if: always()
        run: docker image prune -f
