name: CI Centralizado (Build, Test & Push)

on:
  workflow_call:
    inputs:
      project_type:
        description: "Tipo: 'backend' ou 'frontend'"
        required: true
        type: string
      service_name:
        description: "Nome do serviço no docker-compose (ex: python-back)"
        required: true
        type: string
      working_directory:
        description: "Diretório do docker-compose"
        required: false
        default: "."
        type: string
      build_context:
        description: "Contexto do Docker Build (onde está o Dockerfile)"
        required: false
        default: "."
        type: string
      runner_labels:
        description: "Labels do runner de build"
        required: false
        type: string
        default: '["self-hosted", "ci", "ephemeral"]'
      environment_name:
        description: "Ambiente para carregar as variáveis (develop, homolog, prod)"
        required: true
        type: string
    secrets:
      REGISTRY_USERNAME:
        required: true
      REGISTRY_PASSWORD:
        required: true

jobs:
  quality-checks:
    name: Lint and Type checks
    if: ${{ inputs.project_type == 'frontend' }}
    runs-on: ${{ fromJSON(inputs.runner_labels) }}
    environment: ${{ inputs.environment_name }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      # --- SETUP DE PREPARAÇÃO (Node/PNPM) ---
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Setup PNPM
        uses: pnpm/action-setup@v4
        with:
          version: 10
          run_install: false

      - name: Cache PNPM Store
        uses: actions/cache@v4
        with:
          path: ~/.local/share/pnpm/store
          key: pnpm-${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            pnpm-${{ runner.os }}-

      - name: Cache Next.js
        uses: actions/cache@v4
        with:
          path: .next/cache
          key: next-${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}

      - name: Instalar Dependências
        run: pnpm install --frozen-lockfile
      
      - name: Executar Lint
        run: pnpm lint

      - name: Executar Type Check
        run: pnpm type-check

  build-frontend:
    name: Build Frontend
    needs: quality-checks
    if: ${{ inputs.project_type == 'frontend' }}
    runs-on: ${{ fromJSON(inputs.runner_labels) }}
    environment: ${{ inputs.environment_name }}
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      # --- SETUP DE PREPARAÇÃO (Node/PNPM) ---
      - name: Setup Node 
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Setup PNPM 
        uses: pnpm/action-setup@v4
        with:
          version: 10
          run_install: false

      # --- SETUP DO REGISTRY  ---
      - name: Configurar Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver-opts: image=moby/buildkit:latest
          # Permite HTTP para seu IP local (192.168.1.9)
          buildkitd-config-inline: |
            [registry."${{ vars.ORG_REGISTRY_URL }}"]
              http = true
              insecure = true

      # --- BUILD E PUSH ---
      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: ${{ inputs.build_context }}
          push: true
          provenance: false
          build-args: |
            NEXT_PUBLIC_API_URL=${{ vars.AUTH_SERVICE_URL }}
            NEXT_PUBLIC_URL=${{ vars.NEXT_PUBLIC_URL }}
            NEXT_PUBLIC_BASE_PATH=${{ vars.API_ROOT_PATH }}
            NEXT_PUBLIC_FEATURE_FLAGS_ENABLED=${{ vars.FEATURE_FLAGS_ENABLED }}
            NEXT_PUBLIC_PORTAL_BASE_URL=${{ vars.PORTAL_BASE_URL }}
            NEXT_PUBLIC_TITLE=${{ vars.TITLE }}
            JWT_SECRET=${{ secrets.JWT_SECRET }}
          # Tags: Gera a tag específica (ex: develop) e o SHA do commit
          tags: |
            ${{ vars.ORG_REGISTRY_URL }}/${{ vars.REPO_IMAGE_NAME }}:${{ github.event.pull_request.head.sha || github.sha }}
            ${{ vars.ORG_REGISTRY_URL }}/${{ vars.REPO_IMAGE_NAME }}:${{ inputs.environment_name }}
          # Cache usando o Registry (MinIO)
          cache-from: type=registry,ref=${{ vars.ORG_REGISTRY_URL }}/${{ vars.REPO_CACHE_IMAGE_NAME }}
          cache-to: type=registry,ref=${{ vars.ORG_REGISTRY_URL }}/${{ vars.REPO_CACHE_IMAGE_NAME }},mode=max

      - name: Limpeza
        if: always()
        run: docker image prune -f

  build-and-push-backend:
    name: Build and Push (${{ inputs.project_type }})
    if: ${{ inputs.project_type == 'backend' }}
    runs-on: ${{ fromJSON(inputs.runner_labels) }}
    environment: ${{ inputs.environment_name }}
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # --- PREPARAÇÃO DO .ENV ---
      - name: Criar .env para Build
        working-directory: ${{ inputs.working_directory }}
        run: |
          echo "DUMMY_VAR=DUMMY_VALUE" > .env

      # --- SETUP DO REGISTRY  ---
      - name: Configurar Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver-opts: image=moby/buildkit:latest
          # Permite HTTP para seu IP local (192.168.1.9)
          buildkitd-config-inline: |
            [registry."${{ vars.ORG_REGISTRY_URL }}"]
              http = true
              insecure = true

      - name: Login no Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ vars.ORG_REGISTRY_URL }}
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      # --- BUILD E PUSH ---
      
      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: ${{ inputs.build_context }}
          push: true
          provenance: false
          # Tags: Gera a tag específica (ex: develop) e o SHA do commit
          tags: |
            ${{ vars.ORG_REGISTRY_URL }}/${{ vars.REPO_IMAGE_NAME }}:${{ github.event.pull_request.head.sha || github.sha }}
            ${{ vars.ORG_REGISTRY_URL }}/${{ vars.REPO_IMAGE_NAME }}:${{ inputs.environment_name }}
          # Cache usando o Registry (MinIO)
          cache-from: type=registry,ref=${{ vars.ORG_REGISTRY_URL }}/${{ vars.REPO_CACHE_IMAGE_NAME }}
          cache-to: type=registry,ref=${{ vars.ORG_REGISTRY_URL }}/${{ vars.REPO_CACHE_IMAGE_NAME }},mode=max

      - name: Limpeza
        if: always()
        run: docker image prune -f
